.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  .header {
    display: inline-flex;
    flex: 2 1 200px;
    justify-content:center;
    flex-direction: row;
  }
   
  .right {
    display: inline-flex;
    flex: 1 2 400px;
    align-items: center;
  }