body {
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', arial;
}


.container{
    display:flex;
    flex-direction: column;
    
  }

  .navbar {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

  .header {
    display: flex;
    justify-content:center;
    flex-direction: row;
    color: #F9FAF8;
    background-color: #1F2937;
  }

   .links{
     display:flex;
     margin-left: auto;
     padding: 0px 100px 0px 0px;
     
   }
   .a{
    flex-direction:column;
  }
   .right{
     justify-content:space-between;
     margin: 50px;
   }


   .header {
    display: flex;
    justify-content:center;
    flex-direction: row;
  }

  .intro {
    flex-direction: column;
    display: inline-flex;
    flex: 2 1 200px;
    justify-content:center;
  }

  .introBoxes{
    flex-direction: row;
    display:flex;
    justify-content: center;
  }

  .body{
    background-color: #E5E7EB;
  }

  .footer{
    color: #F9FAF8;
    background-color: #1F2937;
  }